@model Backend.Models.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "_Layout";
}

<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5 pe-0">
                <img src="~/images/vavilogo.png" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 border rounded-3 pt-3 p-5">
                <h2 class="h2">Giriş Yap</h2>
                <hr class="mt-0 mb-4"/>
                <form asp-action="Login" asp-controller="Account" method="post">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["Error"]
                        </div>
                    }

                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input asp-for="EmailAddress" class="form-control form-control-lg" placeholder="E-posta adresinizi giriniz"/>
                        <label asp-for="EmailAddress" class="form-label">E-Posta Adresi</label>
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-3">
                        <input asp-for="Password" class="form-control form-control-lg" placeholder="Parolanızı giriniz"/>
                        <label asp-for="Password" class="form-label">Şifre</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg px-4">Giriş Yap</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Hesabınız yok mu? <a asp-controller="Account" asp-action="Register" class="link-danger">Kayıt Ol</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>