@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
<link rel="stylesheet" href="css/site.css"/>
@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container my-5">
    <div class="d-flex flex-column justify-content-center align-items-center p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis mb-5">Hadi Gidelim Admin Panele Hoş Geldiniz</h1>
        <div style="width: 50%">
            <p class="lead" style="margin-bottom: 5%; padding: 0 10%"> Giriş yap butonundan giriş yapınız, hesabınız yoksa kaydol butonundan kayıt olunuz.</p>
        </div>
        <div class="d-inline-flex gap-2">
            <a asp-action="Login" asp-controller="Account" class="btn  btn-lg ps-4 rounded-pill" type="button">
                Giriş Yap
                <svg class="bi ms-2" width="0" height="24"><use xlink:href="#arrow-right-short"/></svg>
            </a>
            @if(SignInManager.IsSignedIn(User))
            {
                <a asp-action="Logout" asp-controller="Account" class="btn btn-outline-danger btn-lg px-4 rounded-pill" type="button">
                    Çıkış Yap
                </a>
            }
            else
            {
                <a asp-action="Register" asp-controller="Account" class="btn  btn-lg px-4 rounded-pill" type="button">
                    Kayıt Ol
                </a>
            }
        </div>
    </div>
</div>